<h2>Projects Built with <%=category.name %></h2>
  <% category.projects.forEach(project=>{ %>
    <div class="well">
      <a href='/projects/<%=project.id%>'>
        <%= project.name %>
      </a>
    </div>
  <%}) %>
  <form method="POST" action="/categories/<%=category.id%>/?_method=DELETE">
    <input type="submit" class="btn btn-danger" value="Delete <%=category.name%>"></input>

  </form>
