<h1>Edit <%= project.name %></h1>

<form action="/projects/<%= project.id %>/?_method=PUT" method="POST">
<input type="hidden" name="id" value="<%=project.id%>">
<fieldset>
  <legend>Edit Project</legend>
  <div class="input-group vertical">
      <label for="name">Name</label>
      <input type="text"  id="name" name="name" value="<%=project.name%>" required>
  </div>

  <div class="input-group vertical">
      <label for="githubLink">Github Link</label>
      <input type="text" id="githubLink" name="githubLink" value="<%=project.githubLink%>" required>
  </div>

  <div class="input-group vertical">
    <label for="deployedLink">Deployed Link</label>
    <input type="text" id="deployedLink" name="deployedLink" value="<%=project.deployedLink%>" required>
  </div>

  <div class="input-group vertical">
    <label for="description">Description</label>
    <textarea type="text" id="description" name="description" required><%=project.description%></textarea>
  </div>

  <div class="input-group vertical">
      <label for="category">Category</label>
      <input type="text" id="category" name="category" value=
        <% if(project.categories) { %>
          <% const nameArr = [] %>
            <% project.categories.forEach(category => { %>
              <% nameArr.push(category.name) %>
            <% }) %>
          "<%= nameArr.toString() %>"
        <% } %>
       required>
  </div>

  <input type="submit" class="button primary">
</fieldset>
</form>