<h1><%= project.name %></h1>
<h5><a href="/projects/edit/<%= project.id %>">Edit</a></h5>
<form action="projects/?_method=DELETE" method="POST">
  <input type="hidden" name="id" value="<%= project.id %>">
  <input type="submit" value="Delete?">
</form>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>
<hr />
<h4>Project Categories</h4>
<ul>
  <% if(project.categories) { %>
    <% project.categories.forEach(category => { %>
      <li>
        <a href="/categories/<%= category.id %>">
          <%= category.name %>
        </a>
      </li>
    <% }) %>
  <% } %>
</ul>
<hr />

<a href="/">&larr; Back Home</a>
